<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
    <dd><img src="<%= @the_photo.image %>"></dd>
  <dt>Caption</dt>
    <dd><%= @the_photo.caption %></dd>
  <dt>Owner</dt>
    <dd><%= @the_photo.owner.username %></dd>
  <dt>Posted</dt>
    <dd><%= time_ago_in_words(@the_photo.created_at) %> ago</dd>
  <dt>Likes count</dt>
    <dd><%= @the_photo.likes_count %></dd>
  <dt>Comments count</dt>
    <dd><%= @the_photo.comments_count %></dd>
  <dt>Fans</dt>
    <dd><%= @the_photo.likes_count %></dd>
  <dt>Add a fan</dt>
    <dd>
      Like button
    </dd>
</dl>

<h2>Comments</h2>

<table border="1">
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @list_of_photo_comments.each do |a_comment| %>
    <tr>
      <td><%= a_comment.author.username %></td>
      <td><%= a_comment.body %></td>
      <td><%= time_ago_in_words(a_comment.created_at) %> ago</td>
    </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

<% if @the_photo.owner.id == session.fetch( :user_id ) %>
  <div><a href="/delete_photo/<%= @the_photo.id %>">Delete this photo</a></div>
<% end %>

<div>
  <div>
    <h2>
      Edit photo
    </h2>

    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
      </div>

      <button>
        Update photo
      </button>
    </form>
  </div>
</div>

<hr>
